//General Styling
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

//Navigation
nav {
  position: fixed;
  height: 5%;
  background: #424242;
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline;
  }
  a {
    text-decoration: none;
    color: #fff;
    :hover {
      color: #ddd;
    }
    :visited {
      color: #fff;
    }
  }
}

//Header
header {
  display: block;
  height: 100vh;
  background: url('http://www.fresnostate.edu/academics/oced/images/skyline_735x290.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  h1, h2 {
    background: #424242;
    color: #fff;
    text-align: center;
    padding-right: 1em;
    margin: auto;
  }
  h1 {
    font-size: 3em;

  }
  h2 {
    font-size: 2em;
    margin-top: 1em;
  }
}

//About
#about {
  min-height: 100%;
  padding: .5em;
  border-bottom: 1px dotted #000;
}

//Portfolio
#portfolio {
  min-height: 100%;
  padding: .5em;
}

//Footer
footer {
  background: #424242;
  padding: .5em 0;
  ul {
    list-style: none;
    margin: 0;
  }
  h3 {
    margin: 0 0 .5em 0;
  }
  h3, ul {
    padding-left: 65%;
  }
  h3, a {
    color: #fff;
  }
  a {
    text-decoration: none;
  }
}

//Special Overrides
.back-to-top {
  text-decoration: underline;
  color: #00f;
  :hover {
    color: tomato;
  }
  :visited {
    color: #00f;
  }
}