footer.u-full-width
	ul
		li &copy; 2016 Nathan Conley
		li #[a(href="http://www.twitter.com/nateconley123", target="_blank") #[i.fa.fa-twitter.fa-2x]]
		li #[a(href="http://www.github.com/nateconley", target="_blank") #[i.fa.fa-github.fa-2x]]
		li #[a(href="http://www.linkedin.com/in/nathanconley", target="_blank") #[i.fa.fa-linkedin.fa-2x]]
script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
script(type="text/javascript", src="./static/scripts/index.js")