footer
	ul
		li &copy; 2016 Nathan Conley
		li #[a(href="http://www.twitter.com/nateconley123", target="_blank") #[i.fa.fa-twitter.fa-2x]]
		li #[a(href="http://www.github.com/nateconley", target="_blank") #[i.fa.fa-github.fa-2x]]