header.row
	.header-text.seven.columns
		h1 NATE CONLEY
		h2 Fresno based Front-End Web Developer
	.header-image.five.columns
		img.u-max-full-width(src="./static/img/headshot.jpg", alt="Picture of Nate Conley")