nav.row
	ul
		li.three.columns #[a(href="#") Nate Conley]
		li.three.columns #[a(href="#about-me") About]
		li.three.columns #[a(href="#work") Work]
		li.three.columns #[a(href="#contact-me") Contact]