// General stylings
header,
.about-me,
.work {
	border-bottom: 1px dotted #000;
}

h3 {
	font-weight: bold;
}

.row {
	padding-top: .5em;
}

// Header
header {
	text-align: center;
	min-height: 100vh;
	.header-text {
		color: tomato;
	}
}

// Navigation
nav {
	ul {
		list-style: none;
		display: inline;
		width: 100%;
		li {
			background: #ccc;
			padding: 0 .5em;
			width: 25%;
			float: left;
			&:first-child {
				font-weight: bold;
			}
			&:nth-child(1n+2) {
				text-align: right;
			}
		}
	}
}

// Footer
footer {
	text-align: center;
	background: #ccc;
	padding: .5em;
	p {
		margin-bottom: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline;
			margin-left: 1em;
			height: 1.5em;
			&:first-child {

			}
			&:nth-child(2) i {
				color: #55acee;
				vertical-align: middle;
			}
			&:nth-child(3) i {
				color: #4183c4;
				vertical-align: middle;
			}
			
		}
	}
}