// Variables
$darkBlue: #476B8F;
$Lora: 'Lora', serif;

// General stylings
body {
	min-height: 100vh;
}

a {
	color: #2B6FB3;
}

#about-me,
#work {
	border-bottom: 1px dotted #000;
}

h3.section-header {
	font-weight: bold;
	text-align: center;
	display: inline-block;
	border-bottom: 2px solid #000;
	font-family: $Lora;
}

.row {
	padding-top: .5em;
}

// Header 

header {
	background: $darkBlue; 
	.header-text {
		padding-top: 10em;
		padding-bottom: 10em;
		text-align: right;
		font-family: $Lora;
		font-weight: 400;
		color: #fff;
	}
	.header-image img {
		height: 30em;
		width: 20em;
		margin-top: 2em;
		margin-bottom: 2em;
		border: 2px solid #fff;
		border-radius: 5px;
	}
}


// Navigation
nav {
	padding-top: 0.5em;
	background: #fff;
	ul {
		list-style: none;
		width: 100%;
		border-bottom: 2px solid #000;
		height: 30px;
		margin: 0;
		a {
			text-decoration: none;
			color: #000;
		}
		li {
			background: #fff;
			display: block;
			text-align: center;
			position: relative;
			margin-bottom: 0;
			&:nth-child(1n+2) {
				border-left: 1px solid #000;
			}
			&:first-child {
				font-weight: bold;
			}
		}
	}
}

@media (max-width: 549px) {
	nav ul li:nth-child(1n+2) {
		border-bottom: 1px solid #555;
	}
	nav ul li {
		height: 30px;
	}
}

// Work Gallery
#work {
	ul {
		list-style: none;
		li {
			display: inline;
			text-align: center;
			height: 23.5em;
			h4 {
				height: 2em;
				padding-bottom: 1em;
				color: #000;
			}
			a {
				text-decoration: none;
			}
			img {
				height: 20em;
				width: 20em;
				border: 2px solid #000;
				border-radius: 5px;
				margin-bottom: .5em;			
			}
		}
	}
}

// Contact
#contact-me {
	p {
		text-align: center;
	}
}

// Footer
footer {
	text-align: center;
	background: #ccc;
	padding: .5em;
	p {
		margin-bottom: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline;
			margin-left: 1em;
			height: 1.5em;
			&:nth-child(2) i {
				color: #55acee;
				vertical-align: middle;
			}
			&:nth-child(3) i {
				color: #4183c4;
				vertical-align: middle;
			}
			&:nth-child(4) i {
				color: #0077b5;
				vertical-align: middle;
			}
		}
	}
}

// Contact Reply Page
.contact-reply {
	padding-top: 2em;
	min-height: 40vh;
}

// Media Queries
@media (max-width: 749px) {
	.seven.columns,
	.five.columns,
	.six.columns {
		width: 100%;
		margin-left: 0;
	}
	header .header-text {
		text-align: center;
	}
	header .header-image {
		margin-top: 0;
		margin-bottom: 1em;
		text-align: center;
	}

}