extends ./layout.jade
block content
	header
		.header-text
			h1 Nate Conley
			h2 Fresno-based Web Developer
	main.row#about-me
		h3 About Me
		p Hi, I'm Nate. I am a web developer calling Fresno, California my home. I am very interested in web technology and building things that are user-friendly. I am originally from Missouri.
		h4 Web Developer
		p I am familiar with JavaScript technologies such as jQuery, Node, Express, and Angular. I am constantly learning, and I will always be evolving my skills. I began my web development learning while I was attending college as a Music Industry major. It was in my Programming and Website Administration classes that I decided that I wanted to become a web developer. I started learning with online resourced like #[a(href="https://www.teamtreehouse.com", target="_blank") Treehouse], #[a(href="http://www.codecademy.com", target="_blank") Codecademy], and #[a(href="http://www.freecodecamp.com", target="_blank") freeCodeCamp]. I never looked back!
		p I am very excited about the future of the web and I am excited to know that I will be a part of it in some way.
		h4 Musician
		p I graduated from #[a(href="http://www.mssu.edu", target="_blank") Missouri Southern State University] in 2015 with a Bachelor of General Studies and a minor in music. I have had amazing experiences in my time at MSSU, including performing on the professional drumline for the Kansas City Royals of the MLB. I performed at the All-Star Game in 2012, the Post Seasons of 2014 and 2015, performances in Europe and participating in the 2015 World Series victory parade. I also have experience teaching percussion for the Carl Junction, Missouri High School Marching Band for the 2014 and 2015 seasons.
	div#work
		h3 Work
		ul.row
			li.six.columns
				a(href="http://localhost:3000/weather") #[img(src="", alt="Local Weather App")]
			li.six.columns
				a(href="http://localhost:3000/beatles") #[img(src="", alt="Beatles Quote Generator")]
	.row#contact-me
		h3 Contact Me
		form(method="post")
			label(for="email-address") Email
			input(type="text", id="email-address", placeholder="email@example.com")
			label(for="message-text") Message
			textarea.u-full-width(id="message-text")
			input.button(type="submit", value="submit")