extends ./layout.jade
block content
	main.row#about-me
		h3.section-header About Me
		p Hi, I'm Nate. I am a web developer calling Fresno, California my home. I am very interested in web technology and building things that are user-friendly. I am originally from Missouri.
		h4 Web Developer
		p I am familiar with front end technologies like HTML, CSS, JavaScript, and jQuery. I am constantly learning, and I will always be evolving my skills. I began learning about web development while I was attending college as a Music Industry major. It was in my Programming and Website Administration classes that I decided that I wanted to become a web developer. I started learning with online resourced like #[a(href="https://www.teamtreehouse.com", target="_blank") Treehouse], #[a(href="http://www.codecademy.com", target="_blank") Codecademy], and #[a(href="http://www.freecodecamp.com", target="_blank") freeCodeCamp]. I never looked back!
		p I hack on ideas or concepts on #[a(href="http://www.codepen.io/nateconley", target="_blank") CodePen]
		p Of course, feel free to check out my source code on #[a(href="http://www.github.com/nateconley") GitHub]
		h4 Musician
		p I graduated from #[a(href="http://www.mssu.edu", target="_blank") Missouri Southern State University] in 2015 with a Bachelor of General Studies and a minor in music. I have had amazing experiences in my time at MSSU, including performing on the professional drumline for the Kansas City Royals. I performed at the All-Star Game in 2012, the Post Seasons of 2014 and 2015, performances in Europe and participating in the 2015 World Series victory parade. I also have experience teaching percussion for the Carl Junction, Missouri High School Marching Band for the 2014 and 2015 seasons.
	div#work
		h3.section-header Work
		ul.row
			li.six.columns
				a.work-gallery-item(href="localhost:3000/weather") #[img(src="./static/img/weather-thumbnail.jpg", alt="Local Weather App")]
					h4 Local Weather App
			li.six.columns
				a.work-gallery-item(href="localhost:3000/beatles") #[img(src="./static/img/beatles-thumbnail.jpg", alt="Beatles Quote Generator")]
					h4 Beatles Quote Generator
	.row#contact-me
		h3.section-header Contact Me
		form(method="post", action="contact")
			label(for="email") Email
			input(type="email", id="email", name="email", placeholder="email@example.com", required=true)
			label(for="message-text") Message
			textarea.u-full-width(name="message" id="message-text", required=true)
			input.button(type="submit", value="submit")
			p Alternatively, here is my email address: #[a(href="mailto:nateconley123@gmail.com") nateconley123@gmail.com]